* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: "roboto", Arial, Helvetica, sans-serif;
    list-style: none;
    box-sizing: border-box;
    background-color: #1f2937;
}

li {
    display: inline-block;
}
    
.top-nav .logo {
    font-size: 24px;
    color: #f9faf8;

}

.nav-links a {
    color: #e5e7eb;
    font-size: 18px;
    margin: 0 6px;
}

.nav-links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

nav{
    margin-left: 10%;
    margin-right: 10%;
}



img {
   width: 50%;
   height: auto;
   justify-content: right;

}

.tagline{
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.tagline,.about {
    margin: 0 10%
}

.about {
    font-size: 18px;
    color: #e5e7eb;
}

.text {
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    
}
