* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: "roboto", Arial, Helvetica, sans-serif;
    list-style: none;
    box-sizing: border-box;
    
}
img {
    display: block;
}

.header {
    background-color: #1f2937;
        
}

.sec-1 {
    max-width: 1200px;  
    margin: 0 auto;
    padding: 0 40px; 

    }

.nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 20px 0px 20px 0;
    
}
.nav-links {
    display: flex;
    gap: .5rem;
    align-items: center;
    
    
}

.nav-bar > a {
    color: #f9faf8;
    font-size: 24px;
    flex-shrink: 0;
    
    
}

.nav-links a {
    font-size: 18px;
    color: #e5e7eb;
}

.tagline {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

.about {
    font-size: 18px;
    color: #e5e7eb ;
}

.signup {
    background-color: #3882f6;
    width: 6rem;
    height: 2rem;
    border: none;
    color: #e5e7eb;
    border-radius: 6px;

}

.keyboard-img {
    width: 30rem;
    height: auto;
    border-radius: 18px;
    

}

.hero {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 50px 0px 100px 0px;
    align-items: center;
}

.image {
    height: fit-content;
    align-items: center;
}


.text-btn {
    flex: 1; 
    flex-basis: 100%;
    max-width: 500px;
    min-width: 300px;
}

.sec-2 h2{
    text-align: center;
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
}

.sec-2 {
    max-width: 1200px;  
    margin: 60px auto;
    padding: 0 40px; 
}

.cat-cont {
    display: flex;
    justify-content: space-evenly;
    padding-top: 40px;
}

.cat-img{
    width: 10rem;
    min-width: 8rem;
}

.pyon-pyon {
    border-radius: 10px;
    border: 3px solid #3882f6;
    align-items: center;
}

.cat-info{
    margin-top: 10px;
}
  
.sec-3 {
    background-color: #e5e7eb;
}

.quote-cont {
    max-width: 1200px;  
    margin: 0 auto;
    padding: 0 40px; 
    display: flex;
    flex-direction: column;
    padding: 60px;
    color: #1f2937;
    font-size: 36px;
    font-style: italic;
}

.author {
    font-size: 18px;
    font-weight: 900;
    font-style: normal;
    text-align: end
}

.cta{
    display: flex;
}

.cta-text {
    flex: 1;
    height: max-content;
    max-width: 1200px;  
    margin: 70px auto;
    padding: 30px 30px; 
    display: flex;
    background-color: #3882f6;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    color: #e5e7eb;
}


.signup2 {
    background-color: #3882f6;
    width: 6rem;
    height: 2rem;
    border: 2px solid white;
    color: #e5e7eb;
    border-radius: 6px;
    margin: 0 40px;
}

.text {
   padding: 0 40px;
}

footer {
    background-color: #1f2937;
    width: 100%;
    height: 60px;
    text-align: center;
    color: #f9faf8;
    font-size: 12px;
}

footer > p {
    padding: 20px;
}